.snackbar-success {
    background-color: #4CAF50; /* Green background for success */
    color: white;
  }
  
  .snackbar-error {
    background-color: #f44336; /* Red background for error */
    color: white;
  }